<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Data Segments by Ziff Davis</title>

	<meta name="description" content="Browse or search Ziff Davis’s first party data segments.">
	<meta name="keywords" content="data, data segments, advertising, search">

	<meta property="og:locale" content="en_GB" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Data Segments by Ziff Davis" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />

	<meta property="og:site_name" content="Data Segments by Ziff Davis" />
	<meta property="og:description" content="Browse or search Ziff Davis’s first party data segments." />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:description" content="Browse or search Ziff Davis’s first party data segments." />
	<meta name="twitter:title" content="Data Segments by Ziff Davis" />
	<meta name="twitter:image:src" content="" />
	<meta name="twitter:creator" content="" />

	<link rel="apple-touch-icon" sizes="57x57" href="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="https://s3-eu-west-1.amazonaws.com/keystone-ireland-audience-bucket/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<script type="text/javascript" src="https://cdn.ziffstatic.com/jst/zdconsent.js"></script>

	<!-- Google Analytics -->
	<script>
		(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new
			Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(
					a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js'
			, 'ga');
		ga('create', 'UA-102400175-2', 'auto');
		if (window.zdconsent && window.zdconsent.gdprApplies && window.zdconsent.optins && !window.zdconsent.optins.ga) {
			ga('set', 'anonymizeIp', true);
			ga('set', 'displayFeaturesTask', null);
		}
		ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->

	<link href="/styles/site.css" rel="stylesheet">

	<script>
		(function (d) {
			var config = {
				kitId: 'gff3jav',
				scriptTimeout: 3000,
				async: true
			},
				h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
		})(document);
	</script>

	{{!-- This file provides the default styling for the KeystoneJS Content Editor
	- only renders when user is logged in and admin--}}
	{{{isAdminEditorCSS user}}}

	{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
	//- Safely remove this block if you are not targeting IE8 --}}
	<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<header class="zd-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="zd-header--wrapper">
						<a href="/" class="zd-header--logo">
							<img src="../images/ziff-davis-logo--black.png" alt="Ziff Davis logo" />
						</a>

						<div data-widget="mobile-menu" class="zd-header__links--mobile-wrapper">
							<div class="zd-close-button">
								<div id="nav-icon" class="zd-close-button--burger">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
							<ul class="zd-header__links--ul">
								<li class="zd-header__links--mashable"><a href="http://mashable.com/" target="_blank"><img src="/images/mashable-logo.svg"
										 alt="mashable logo" /></a></li>
								<li class="zd-header__links--ignlogo"><a href="http://uk.ign.com/" target="_blank"><img src="/images/ign-logo.svg"
										 alt="IGN logo" /></a></li>
								<li class="zd-header__links--zd-tech"><a href="http://www.ziffdavistech.com/" target="_blank"><img src="/images/ziff-davis-tech-logo.png"
										 alt="Ziff Davis Tech logo" /></a></li>
								<li class="zd-header__links--askmen"><a href="https://uk.askmen.com/" target="_blank"><img src="/images/askmen-logo.svg"
										 alt="Askmen logo" /></a></li>
								<li class="zd-header__links--pcmag"><a href="http://uk.pcmag.com/" target="_blank"><img src="/images/pc-mag-logo.png"
										 alt="pc mag logo" /></a></li>
								<li class="zd-header__links--wte"><a href="https://www.whattoexpect.com/" target="_blank"><svg id="wte-logo"
										 viewBox="0 0 250 28" width="100%" height="100%">
											<g fill-rule="nonzero" fill="#604d80">
												<path d="M62.92 8.217h1.174c.168-.484.336-1.128.503-1.61.168-.646.504-1.29.84-1.774.167-.644.503-1.127 1.006-1.61.168-.323.503-.645 1.007-.806.335 0 .84-.16 1.174-.16h1.846v21.426c0 .484 0 .806-.336 1.128-.168.323-.335.484-.67.646-.17.322-.672.322-1.008.483-.67.16-1.342.16-2.18 0-.336 0-.504-.162-.84-.484-.335-.323-.503-.645-.84-.967-.166-.323-.334-.807-.502-1.13L57.384.16H56.04c-1.006 3.223-2.013 6.93-3.355 11.118-.672 2.094-1.175 3.866-1.846 5.8-.672 1.933-1.176 3.866-1.68 5.478-.167.483-.334 1.127-.67 1.61-.336.323-.67.806-1.007 1.128l-1.006.484h-.168-.17c-.335 0-.502-.16-.838-.322-.336-.162-.503-.484-.67-.645-.17-.32-.17-.643-.17-1.127V4.35c0-.322 0-.806.17-1.128.167-.322.334-.483.67-.805l.503-.16c.168 0 .168 0 .336-.163.337-.16.672-.16 1.008-.16V.32H38.59v1.61c.336 0 .672.162 1.007.162.336.162.67.162 1.007.484.336.16.503.483.67.805.17.323.17.806.17 1.128v8.057h-9.565V4.51c0-.32 0-.804.167-1.127.168-.322.336-.483.67-.805l.504-.16c.17 0 .17 0 .337-.162.336-.162.67-.162 1.007-.162V.484H20.47v1.61c.67 0 1.342.323 2.013.645.336.16.504.643.504.966v1.127c0 .484-.168 1.128-.504 2.417v.322c-.335 1.61-.67 3.545-1.174 5.64-.505 2.094-1.008 4.832-1.51 7.732L14.932.967H13.59L8.894 20.3c-.336-1.772-.672-3.544-1.007-4.994-.336-2.417-.84-4.35-1.175-5.8-.502-2.9-.838-4.512-1.005-5.478v-.16-.324-.483c0-.32.167-.482.67-.643.504-.16 1.175-.323 1.68-.323V.806H0v1.61c.336 0 .503 0 .67.162.337.16.504.322.672.483.336.323.67.484.84.807.167.322.335.644.335.966.335 1.773.84 4.834 1.845 9.345l2.685 13.694H8.39l5.033-20.14 4.698 20.14h1.51c.672-2.74 1.175-5.8 1.68-8.378l1.005-4.188c.336-2.095.84-4.028 1.175-5.962.336-1.288.67-2.738.84-4.027l.502-1.45c.168-.323.336-.645.67-.967.337-.16.505-.483.84-.483.336.16.67.16 1.007.483.335.16.502.483.67.806.168.322.168.805.168 1.127v19.334c0 .483 0 .805-.168 1.127 0 .323-.335.484-.503.645-.336.16-.504.16-.84.16H25.673v1.61h8.892V26.1c-.336 0-.67-.16-1.007-.16-.336 0-.67-.162-.84-.323-.334-.16-.502-.484-.67-.645-.168-.322-.168-.644-.168-1.128v-9.022h9.563v9.345c0 .483 0 .805-.168 1.127 0 .323-.335.484-.503.645-.336.16-.504.16-.84.16H38.928v1.61h15.1V26.1c-.67 0-1.51-.16-2.18-.322-.505-.16-.84-.645-.84-1.128v-.806-.483c0-.32.167-.643.167-.966v-.322c.168-.483.168-.966.336-1.45.168-.483.168-.644.168-.966 0-.323.168-.967.335-1.45h7.215l1.678 5.96v.967c0 .16-.336.484-.67.645-.672.16-1.176.322-1.847.322v1.61h18.623V26.1c-.503 0-.84-.16-1.342-.16-.334-.162-.838-.162-1.173-.323-.336-.16-.504-.484-.67-.645-.17-.322-.17-.805-.17-1.128V2.256h3.188c.335.16.67.483 1.006.644.336.483.67 1.128 1.007 1.61l.838 1.773c.168.484.336 1.128.503 1.61h1.176V.644H62.92v7.574zm-4.195 8.377h-6.04l2.852-10.15 3.188 10.15zM87.92 8.217h1.174c.168-.484.336-1.128.503-1.61.168-.646.504-1.29.67-1.935.17-.644.505-1.128 1.008-1.61.168-.323.504-.645 1.007-.806.503 0 .84-.162 1.342-.162h1.846v21.75c0 .484 0 .806-.336 1.128-.168.322-.335.484-.67.645-.336.16-.84.322-1.175.322-.337.16-.84.16-1.176.16v1.61h10.067V26.1c-.502 0-.838-.16-1.34-.16-.337 0-.672-.162-1.008-.323h-.168c-.335-.16-.503-.484-.67-.645-.168-.322-.336-.805-.336-1.128V2.256h3.02c.335.16.67.483 1.007.644.335.483.67 1.128 1.006 1.61l.84 1.773c.168.484.336 1.128.504 1.61h1.174V.644h-18.29v7.574zM123.322 3.867c-.84-1.128-1.845-2.095-3.188-2.74C118.792.484 117.45.162 116.107 0c-1.342 0-2.684.322-3.86.967-1.34.805-2.348 1.772-3.187 2.9-1.006 1.29-1.677 2.9-2.18 4.51-.504 1.934-.84 3.867-.84 5.8 0 1.934.168 3.867.84 5.64.503 1.61 1.174 3.06 2.013 4.51.84 1.13 1.845 2.256 3.188 2.9 1.175.645 2.685 1.13 4.027 1.13 1.343 0 2.685-.324 3.86-.968 1.174-.646 2.348-1.612 3.187-2.74 1.007-1.29 1.678-2.9 2.182-4.51.67-1.934.838-3.868.838-5.8 0-1.934-.167-3.868-.67-5.8-.504-1.773-1.175-3.223-2.182-4.673zm-7.215-2.095c1.007 0 1.846.322 2.685.967.84.643 1.51 1.45 2.013 2.416.672 1.288 1.175 2.577 1.343 4.027.335 1.61.503 3.384.335 4.995 0 1.61-.168 3.222-.335 4.833-.168 1.29-.504 2.58-1.175 3.868-.335 1.128-1.174 2.094-2.18 2.74-.672.643-1.68.965-2.686.965s-2.013-.322-2.852-.966c-.84-.645-1.51-1.61-2.013-2.578-.504-1.29-1.007-2.58-1.175-3.868-.335-1.61-.335-3.383-.335-4.994 0-1.61.167-3.06.335-4.672.168-1.29.67-2.578 1.175-3.867.503-1.13 1.174-1.934 2.013-2.74.67-.644 1.846-1.128 2.852-1.128zM186.913 7.41c0-1.77-.504-3.543-1.678-4.832-1.342-1.29-3.02-1.934-4.866-1.934h-17.283v1.45c.67 0 1.175.162 1.846.323.335.16.503.483.503.805-.168 1.128-.67 2.095-1.174 3.06-.84 1.612-1.678 3.224-2.853 5.157l-1.007-2.096c-.168-.322-.336-.483-.504-.805-.168-.323-.336-.807-.504-1.29-.168-.483-.336-.806-.503-1.128-.336-.644-.672-1.29-.84-1.933-.167-.323-.335-.646-.335-1.13 0-.16.336-.482.84-.643.502-.16 1.174-.323 1.677-.323h.168V.484h-9.732v1.61l1.008.162 1.007.322c.335.16.67.483 1.006.805.337.323.505.806.672 1.128l.336.484 1.51 2.9c.503.806.84 1.612 1.342 2.417l.168.807c.67 1.29 1.175 2.255 1.678 3.222-.84 1.45-1.678 3.06-2.685 4.51-1.005 1.772-1.844 3.06-2.348 4.19l-1.006 1.45c-.336.482-.84.804-1.175 1.127-.334.16-.67.322-1.006.322h-.672l.336-6.284v-.162h-1.343c-.336.967-.504 1.773-1.007 2.74-.336.966-.84 1.933-1.342 2.738-.168.322-.504.484-.84.484-.335.16-.67.322-1.174.322H142.617c-.67 0-1.174 0-1.845-.16-.336 0-.67-.162-1.007-.485-.335-.322-.503-.644-.503-.966 0-.645-.168-1.29-.168-1.934v-8.055h2.35c.502 0 1.006 0 1.51.16.502.162.838.484 1.006.968.168.483.503.966.503 1.45.168.644.336 1.45.503 2.255v.162h1.343V8.217h-1.344c0 .483-.167 1.127-.335 1.772l-.502 1.45c-.168.32-.504.643-1.007.966-.503.16-1.174.322-1.677.322h-2.18V2.094h5.703c.672.162 1.175.806 1.846 1.773.503.966 1.007 1.933 1.175 3.06h1.174V.484H132.72v1.61h.336l.67.163c.336 0 .672.16 1.008.483.335.16.503.482.67.643.168.323.168.645.168 1.128v19.657c0 .322 0 .805-.167 1.127-.168.323-.336.484-.504.645-.336.16-.672.16-1.007.16-.336.16-.84.16-1.175.16v1.612h25.336V26.1c-.67 0-1.343-.16-2.014-.322-.335-.16-.335-.484-.335-.806.335-1.29 1.006-2.416 1.678-3.544 1.174-2.095 2.013-3.706 2.852-5.156.335.484.503 1.128.84 1.772.167.484.502.967.67 1.29.336.483.503.966.67 1.45.17.483.504.966.672 1.45.168.483.504 1.127.67 1.61 0 .162.17.162.17.323.167.322.335.805.335 1.127 0 .323-.168.484-.67.645-.673.16-1.176.32-1.847.32h-.168v1.612h18.457v-1.61h-.168c-.336 0-.84 0-1.175-.162-.334 0-.502-.16-.838-.16-.335-.162-.503-.484-.67-.646-.17-.322-.17-.805-.17-1.127V16.11h2.015c1.007 0 2.013-.16 2.852-.482 1.006-.322 1.845-.967 2.516-1.61.84-.807 1.342-1.774 1.678-2.74.67-1.29.84-2.578.84-3.867zm-13.255-4.027c0 .323.168.806.168 1.128v19.496c0 .322 0 .805-.168 1.127-.168.323-.336.484-.504.645-.335.16-.503.16-.84.16h-1.341c-.335 0-.67-.16-.84-.32-.334-.324-.67-.646-1.005-1.13-.336-.482-.672-.966-1.007-1.45l-.167-.16c-.336-.484-.503-1.128-.84-1.61-.67-1.13-1.173-2.257-1.845-3.546-.838-1.61-1.677-3.222-2.684-4.833.503-.646.84-1.29 1.174-2.096.336-.805.84-1.45 1.175-2.094.335-.644.503-.967.84-1.29.334-.32.838-1.45 1.34-2.254.17-.162.17-.323.337-.484.167-.322.503-.805.67-1.128.336-.483.672-.805 1.175-.966.336-.16.67-.322 1.007-.322H172.148c.335 0 .84.16 1.174.322 0 .322.168.483.336.805zm3.355-.966h2.014c.67 0 1.342.16 2.013.483.504.322 1.007.806 1.343 1.29.335.643.503 1.288.67 1.932.168.806.168 1.45.168 2.256 0 .644 0 1.128-.166 1.772-.168.644-.336 1.29-.67 1.933-.337.645-.84 1.128-1.344 1.45-.67.484-1.678.645-2.517.645h-1.342c-.167 0-.167-11.76-.167-11.76z"></path>
												<path d="M203.523 19.656c-.335.966-.503 1.933-1.006 2.738-.336.967-.84 1.934-1.343 2.74-.167.16-.503.483-.838.483-.336.16-.672.322-1.175.322h-2.516c-.67 0-1.174 0-1.845-.162-.337 0-.672-.16-1.008-.484-.336-.322-.503-.644-.503-.966 0-.645-.17-1.29-.17-1.934V14.66h2.182c.503 0 1.007 0 1.51.162.503.16.84.484 1.007.967.334.482.502.966.502 1.45.168.643.336 1.127.336 1.77v.162H200V8.378h-1.342c0 .483-.168 1.128-.336 1.772l-.503 1.45c-.17.322-.505.644-1.008.967-.503.16-1.007.322-1.51.322h-2.18V2.255h5.536c.67.16 1.174.644 1.845 1.772.67.966 1.007 1.933 1.175 3.06h1.342V.645h-16.275v1.612h.336l.672.16c.335 0 .67.162 1.006.484.336.16.504.483.672.806.167.322.167.805.167 1.127v19.334c0 .322 0 .805-.167 1.127-.168.323-.336.484-.504.645-.335.16-.67.16-1.007.16-.336.16-.84.16-1.175.16h-.168v1.612h17.618l.335-8.055v-.16h-1.007zM221.477 20.14c-.168.804-.504 1.61-1.007 2.254-.336.645-.84 1.29-1.342 1.934-.504.483-1.007.966-1.678 1.29-.67.32-1.343.482-2.182.482-1.006 0-2.013-.322-2.852-.967-1.007-.644-1.678-1.45-2.18-2.577-.672-1.128-1.176-2.417-1.343-3.706-.336-1.61-.504-3.06-.504-4.672 0-1.772.167-3.545.503-5.317.167-1.288.67-2.577 1.342-3.866.503-.966 1.342-1.772 2.18-2.416.672-.484 1.68-.806 2.518-.806.84 0 1.51.16 2.18.806.672.483 1.343 1.29 1.68 2.094.502.806.838 1.772 1.173 2.74.336.966.504 2.094.672 3.06h1.342l-.168-9.828h-1.342l-.67 1.128c-.672-.483-1.51-.966-2.35-1.29-.84-.32-1.846-.482-2.853-.482-1.342 0-2.684.322-3.86.967-1.34.644-2.348 1.772-3.187 2.9-1.006 1.45-1.678 2.9-2.18 4.51-.504 1.934-.84 3.867-.672 5.8 0 1.934.168 3.867.67 5.8.337 1.612 1.176 3.062 2.015 4.35.838 1.13 1.845 2.095 3.02 2.74 1.006.644 2.35.966 3.69.966 1.847 0 3.692-.644 5.202-1.772 1.678-1.61 2.853-3.543 3.356-5.8l-1.34-.804.167.483zM224.497 8.217h1.174c.17-.484.337-1.128.504-1.61.168-.646.504-1.29.672-1.774.167-.483.503-1.127.84-1.61.166-.323.502-.645 1.005-.645.505 0 .84-.16 1.344-.16h1.845v21.426c0 .484 0 .806-.17 1.128-.166.322-.334.484-.67.645-.335.16-.84.322-1.174.322-.336.16-.84.16-1.175.16h-.167v1.933h10.068V26.1h-.167c-.504 0-.84-.16-1.342-.16-.335-.162-.838-.162-1.174-.323-.336-.16-.503-.484-.67-.645-.17-.322-.17-.805-.17-1.128V2.256h2.015c.336 0 .672 0 1.175.16.336.162.67.484 1.007.806.335.484.67.967 1.006 1.61l.672 1.774c.167.483.335 1.127.503 1.61h1.174V.645H224.33l.167 7.573zM247.812 3.222c.336-.16.67-.483.67-.805 0-.323-.167-.645-.502-.806-.168 0-.336-.16-.67 0H246.3v2.9h.336V3.223h.84l.67 1.29h.335l-.67-1.29zm-.335-.16h-.672V1.77h1.006c.168.16.336.322.336.484 0 .322-.168.644-.67.805.166 0 0 0 0 0z"></path>
												<path d="M247.31.644c-1.51 0-2.518 1.128-2.518 2.417 0 1.29 1.174 2.418 2.517 2.418 1.51 0 2.516-1.128 2.516-2.417 0-1.288-1.007-2.416-2.517-2.416zm0 4.673c-1.344 0-2.35-.967-2.35-2.256 0-1.288 1.006-2.254 2.35-2.254 1.34 0 2.348.966 2.348 2.255 0 1.29-1.007 2.257-2.35 2.257z"></path>
											</g>
										</svg></a></li>
								<li class="zd-header__links--speedtest"><a href="http://beta.speedtest.net/" target="_blank"><svg id="speedtest-logo"
										 viewBox="0 0 176 22" width="100%" height="100%">
											<path d="M32.52 17.654l1.757-2.093c1.59 1.376 3.208 2.17 5.256 2.17 1.803 0 2.95-.855 2.95-2.092v-.046c0-1.192-.673-1.833-3.76-2.552-3.544-.855-5.546-1.91-5.546-4.98v-.047c0-2.857 2.383-4.828 5.684-4.828 2.43 0 4.355.733 6.05 2.093l-1.573 2.216c-1.497-1.116-2.995-1.71-4.522-1.71-1.71 0-2.72.885-2.72 1.97V7.8c0 1.283.764 1.863 3.973 2.612 3.53.856 5.332 2.124 5.332 4.874v.046c0 3.117-2.444 4.98-5.958 4.98-2.522 0-4.92-.87-6.922-2.658m21.727-5.577c2.215 0 3.59-1.238 3.59-2.98v-.045c0-1.956-1.405-2.98-3.59-2.98H50.84v6.005h3.407zM47.92 3.414h6.57c3.912 0 6.326 2.215 6.326 5.577v.047c0 3.743-2.995 5.684-6.662 5.684H50.84v5.364h-2.935V3.414h.016zm15.417 0h12.36v2.613h-9.426v4.34h8.358v2.612H66.27v4.476h9.55v2.628H63.337V3.414zm15.478 0h12.36v2.613h-9.427v4.34h8.342v2.612h-8.342v4.476h9.534v2.628H78.815V3.414zM97.21 6.088v11.337h3.285c3.5 0 5.79-2.353 5.79-5.623v-.046c0-3.254-2.29-5.668-5.79-5.668H97.21zm-2.918-2.674h6.218c5.24 0 8.862 3.59 8.862 8.28v.047c0 4.69-3.62 8.328-8.862 8.328h-6.218V3.414zm21.986 2.72h-5.286v-2.72h13.52v2.72h-5.286v13.95h-2.95V6.134h.002zm11.337-2.72h12.345v2.613h-9.427v4.34h8.357v2.612h-8.357v4.476h9.55v2.628h-12.47V3.414zm14.82 14.24l1.758-2.093c1.59 1.376 3.208 2.17 5.256 2.17 1.802 0 2.948-.855 2.948-2.092v-.046c0-1.192-.672-1.833-3.758-2.552-3.545-.855-5.546-1.91-5.546-4.98v-.047c0-2.857 2.383-4.828 5.684-4.828 2.43 0 4.354.733 6.05 2.093l-1.574 2.216c-1.497-1.116-2.994-1.71-4.522-1.71-1.71 0-2.72.885-2.72 1.97V7.8c0 1.283.764 1.863 3.973 2.612 3.53.856 5.333 2.124 5.333 4.874v.046c0 3.117-2.445 4.98-5.96 4.98-2.522 0-4.92-.87-6.922-2.658m20.106-11.52h-5.27v-2.72h13.52v2.72h-5.286v13.95h-2.964V6.134zM21 21a11.66 11.66 0 0 0 3.438-8.28c0-6.464-5.24-11.72-11.72-11.72C6.257 1 1 6.24 1 12.72A11.66 11.66 0 0 0 4.438 21l1.666-1.666a9.332 9.332 0 0 1-2.75-6.616c0-5.164 4.186-9.35 9.366-9.35 5.165 0 9.366 4.186 9.366 9.35a9.386 9.386 0 0 1-2.735 6.616L21 21z"></path>
											<path d="M12.398 15.072l-2.078-2.078 6.662-5.82L18.22 8.41l-5.822 6.662zM173.513 4.743c.2 0 .336-.107.336-.275s-.124-.26-.337-.26h-.412v.535h.413zm-.688-.794h.718c.2 0 .367.06.458.152s.138.214.138.352c0 .26-.153.428-.382.49l.428.61h-.336l-.397-.565h-.35v.564h-.275V3.95z"></path>
											<path d="M173.42 3.4c-.763 0-1.374.61-1.374 1.374s.61 1.375 1.375 1.375 1.376-.612 1.376-1.376S174.17 3.4 173.42 3.4m0 .182a1.177 1.177 0 1 1-1.176 1.177c-.015-.643.52-1.178 1.177-1.178"></path>
										</svg></a></li>
								<li class="zd-header__links--everyday-health">
									<a href="https://www.everydayhealth.com/" target="_blank">
										<img src="/images/everyday-health.svg" alt="everyday health" />
									</a>
								</li>
							</ul>
						</div>
						<div class="zd-close-button--background" id="zd-bg-js"></div>
					</div>

				</div>
			</div>
		</div>
	</header>
	<div class="zd-body">
		<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
		{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
			{{/if}}
			{{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
			{{/if}}
			{{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
			{{/if}}
			{{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}
		<!-- The content block should contain the body of your template's content-->
		{{{body}}}
	</div>

	<footer class="zd-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="zd-create-callout">
						<ul class="zd-create-callout--ul">
							<li>Branded Content</li>
							<li>Custom Ads</li>
							<li>Experiential</li>
							<li>Distribution</li>
						</ul>
						<img class="zd-create-callout--img" src="../images/create-logo.png" alt="Create by Ziff Davis logo" />

						<div class="zd-create-callout--btn-group">
							<a href="mailTo:daniel_kilby@ziffdavis.com" class="zd-btn">Get in touch</a>
							<div class="zd-utility--clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="zd-articles">
						<h3>Around Ziff Davis</h3>
						<div class="zd-articles--wrapper">
							{{#each data.articles }}
							<div class="zd-article__unit">
								<div>
									<p class="zd-articles__unit--name"><a target="_blank" href="{{ ArticleUrl }}">{{ ArticleName }}</a></p>
									<p class="zd-articles__unit--website"><a target="_blank" href="{{ WebsiteUrl }}">{{ Website }}</a></p>
								</div>
								<a href="{{ ArticleUrl }}" class="zd-btn">visit site</a>
							</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="zd-footer__strip">
			<img class="zd-footer__strip--img" src="../images/ziff-davis-logo--white.png" alt="Ziff Davis logo" />
			<p class="zd-footer__strip--p">©
				<script type="text/javascript"> document.write(new Date().getFullYear());</script> Ziff Davis International Ltd</p>
			<ul class="zd-footer__strip--links">
				<li><a href="http://uk.corp.ign.com/#about" target="_blank" title="About Us">About Us</a></li>
				<li><a href="http://uk.corp.ign.com/#contact" target="_blank" title="Contact Us">Contact Us</a></li>
				<li><a href="http://corp.ign.com/feeds.html" target="_blank" title="RSS Feeds">RSS Feeds</a></li>
				<li><a href="http://corp.ign.com/privacy.html" target="_blank" title="Privacy Policy">Privacy Policy</a></li>
				<li><a href="http://corp.ign.com/user-agreement.html" target="_blank" title="Terms of Use">Terms of Use</a></li>
				<li><a href="" data-widget="accessibility-modal" title="Accessibility Notice">Accessibility Notice</a></li>
			</ul>

			<p class="zd-footer__tm-notice">Ziff Davis is among the federally registered trademarks of Ziff Davis, LLC and may
				not be used without explicit written permission.</p>
		</div>

		<div class="accessibility-modal" id="modal">
			<div class="accessibility-modal--content">
				<a class="close" href="">+</a>
				<h4><b>Ziff Davis Accessibility Notice</b></h4>
				<br />
				<p>At Ziff Davis we are committed to ensuring that individuals with disabilities can access all of the content
					offered by our company through its websites and mobile applications. If you are having trouble accessing our site
					or mobile apps, please email <a href="mailTo:legal@ziffdavis.com">legal@ziffdavis.com</a> for assistance with “ADA
					Inquiry” in the subject line of your email.</p>
			</div>
		</div>
		<div class="accessibility-modal--bg" id="bg"></div>
	</footer>


	<script type="text/javascript" src="/svg-polyfill/svg4everybody.min.js"></script>
	<script>svg4everybody();</script>


	<script src="/js/main.min.js"></script>
	{{{isAdminEditorJS user}}}

</body>

</html>