.zd-breadcrumb {
	position: relative;
	margin-bottom: 40px;
	padding-top: 20px;

    &::after {
		content: "";
		height: 2px;
		width: 100%;
		background: #0c8767;
		background: -moz-linear-gradient(left, #0c8767 0%, #06ce9a 100%);
		background: -webkit-linear-gradient(left, #0c8767 0%,#06ce9a 100%);
		background: linear-gradient(to right, #0c8767 0%,#06ce9a 100%);
		bottom: 0px;
		position: absolute;
	}

	&--list {
		list-style: none;
		padding-left: 0px;
	}

	&--item {
		font-size: 14px;
		display: inline-block;
		padding-right: 5px;

		&:nth-child(even) {
			font-size: 20px;
			font-weight: 100;
			line-height: 10px;
		}

		a {
			color: inherit;
		}
	}
}
