.zd-footer {
	background-color: $palette-grey-primary;
	width: 100%;
	padding: 60px 0 0;
	overflow: hidden;
}

.zd-footer__strip {
	background-color: $palette-black-primary;
	width: 100%;
	padding: 60px 0;
	margin-top: 60px;

	&--img {
		width: 115px;
		display: block;
		margin: auto;
	}

	&--p {
		text-align: center;
		margin: 20px 0;
		color: white;
		font-size: $font-size-small;
	}

	&--links {
		display: flex;
		padding: 0px;
		margin: auto;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.zd-footer__strip--links li {
	display: inline-block;
	font-size: $font-size-small;
	position: relative;
	padding: 0 10px;

	a {
		color: white;
	}

	&::after {
		content: '';
		height: 60%;
		top: 50%;
		transform: translateY(-50%);
		width: 1px;
		position: absolute;
		right: 0px;
		background-color: white;
	}

	&:last-child {
		&::after {
			display: none;
		}
	}
}

.zd-footer__tm-notice {
	width: 80%;
	max-width: 400px;
	color: #b3b3b3;
	font-size: 12px;
	text-align: center;
	margin: 40px auto 40px;
}
