.zd-form {
	margin-top: 40px;
	width: calc(100% + 30px);
	margin-left: -15px;

	label {
		margin-bottom: 0px;
	}

	@media all and (min-width: $mobile-alt) {
		width: 100%;
		margin-left: auto;
		padding-left: 80px;
		padding-right: 80px;
	}

	@media all and (min-width: $screen-md) {
		padding-right: 0px;
		margin-top: 35px;
	}

	.zd-form--header {
		@extend .zd-panel--header;
		text-align: left !important;
		margin-left: 15px;
		margin-top: 25px !important;

		@media all and (min-width: $mobile-alt) {
			margin-left: 0px;
			margin-top: 80px;
		}
	}

	&--input {
		padding: 15px;
		background-color: $palette-primary;
		margin-top: 20px;
		width: 100%;
		display: block;
		position: relative;

		@media all and (min-width: $mobile-alt) {
			border-radius: $global-radius;
		}

		&::before {
			content: "";
			position: absolute;
			height: 40px;
			top: 50%;
			width: 2px;
			background-color: $palette-grey-secondary;
			left: 85px;
			transform: translateY(-50%);
		}
	}

	input {
		border-radius: $global-radius;
		border: none;
		height: 70px;
		width: 100%;
		display: block;
		box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.1);
		outline: none;
		padding-left: 90px;
		font-size: $font-size-h3;
		color: $palette-black-primary;
		font-weight: 400;

		&::placeholder {
			color: $palette-grey-secondary;
			font-weight: 400;
		}
	}

	label {
		width: 100%;
	}

	svg {
		width: 25px;
		height: 25px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 40px;
		opacity: 1;

		&.zd-form--cross-icon {
			left: inherit;
			right: 40px;
			width: 30px;
			height: 30px;
			cursor: pointer;
			margin-top: -15px;
			transform: scale(0);
			transition: transform 0.3s $easeOutExpo;
			transform-origin: 50% 50%;

			&.active {
				transform: scale(1);
			}
		}
	}
}

.zd-form__autocomplete {
	position: absolute;
	width: calc(100% - 30px);
	padding: 15px;
	top: 112px;
	list-style: none;
	box-sizing: border-box;
	background-color: rgba(188, 204, 211, 0.9);
	border-radius: $global-radius;
	z-index: 9;
	opacity: 0;
	max-height: 250px;
	overflow: scroll;

	&.active {
		opacity: 1;
	}

	&--result {
		margin-bottom: 15px;

		a {
			color: $palette-black-primary;
			font-size: $font-size-base;
			font-weight: 400;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
