.zd-header {
	background-color: $palette-grey-primary;
	padding: 20px 0;
	width: 100vw;
}

.zd-header--wrapper {
	position: relative;
}

.zd-header--logo {
	width: 150px;
	display: block;

	img {
		width: 100%;
		display: block;
	}
}

.zd-header__links--ul {
	float: right;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	list-style: none;
	top: 0;
	right: 0;
	text-align: right;
	margin-bottom: 0px;
	width: 200px;

	@media all and (min-width: $container-tablet) {
		flex-direction: row;
		text-align: left;
		position: absolute;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: wrap;
		width: 600px;
	}

	li {
		padding-left: 20px;
		padding-bottom: 20px;

		@media all and (min-width: $container-tablet) {
			padding-bottom: 10px;
		}

		&:last-child {
			padding-bottom: 0px;
		}

		img {
			width: 100%;
			display: block;
		}

		&.zd-header__links--mashable {
			width: 125px;

			@media all and (min-width: $container-tablet) {
				width: 120px;
			}
		}

		&.zd-header__links--pcmag {
			width: 65px;

			@media all and (min-width: $container-tablet) {
				width: 60px;
				padding-bottom: 0px;
			}
		}

		&.zd-header__links--ignlogo {
			width: 100px;

			@media all and (min-width: $container-tablet) {
				width: 90px;
			}
		}

		&.zd-header__links--zd-tech {
			width: 100px;

			@media all and (min-width: $container-tablet) {
				width: 90px;
			}
		}

		&.zd-header__links--askmen {
			width: 125px;

			@media all and (min-width: $container-tablet) {
				width: 100px;
			}
		}

		&.zd-header__links--wte {
			width: 150px;

			@media all and (min-width: $container-tablet) {
				padding-bottom: 0px;
				width: 150px;
			}
		}

		&.zd-header__links--speedtest {
			width: 150px;
			padding-bottom: 10px;

			@media all and (min-width: $container-tablet) {
				width: 150px;
				padding-bottom: 0px;
			}
		}

		&.zd-header__links--everyday-health {
			width: 180px;

			@media all and (min-width: $container-tablet) {
				padding-bottom: 0px;
			}
		}
	}

	a {
		color: $palette-black-primary;
	}
}

.zd-header__links--mobile-wrapper {
	background-color: transparent;
	position: absolute;
	right: -15px;
	top: -20px;
	padding: 20px;
	z-index: 199;
	min-width: 260px;
	transform: translate3d(185px, 0, 0);
	transition: transform 0.3s $easeOutExpo;

	&.open {
		background-color: white;
		transform: translate3d(0, 0, 0);
	}

	@media all and (min-width: $container-tablet) {
		background-color: transparent;
		position: absolute;
		right: 0px;
		top: 0px;
		padding: 0px;
		transform: translate3d(0, 0, 0);
	}
}

.zd-header--grey {
	background-color: $palette-grey-primary;
	position: relative;

	&::after {
		content: "";
	    position: absolute;
	    background-color: $palette-grey-primary;
	    width: 200%;
		transform: rotate(-4deg);
		bottom: -10%;
	    height: 100%;
	    z-index: -1;
	    left: -50%;
		display: none;

		@media all and (min-width: $mobile-alt) {
			display: block;
		}
	}
}

.zd-header--down-icon {
	display: none;
	margin: auto;
	height: 30px;
	width: 30px;
	position: absolute;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	bottom: -53px;

	@media all and (min-width: $container-desktop) {
		display: block;
	}

	img {
		width: 100%;
	}
}
