.zd-introtext--h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 30px;
}

.zd-introtext--p {
    font-size: $font-size-base;
	font-weight: 300;
}

.zd-introtext--ol {
    font-size: $font-size-base;
	font-weight: 300;
	padding: 0px 0px 0px 20px;
    margin: 0px 0px 20px;

	li {
		margin-bottom: 10px;
	}
}
