.zd-table {
	border-radius: $global-radius;
	width: 100%;

	td {
		padding: 20px;
		font-size: 18px;
		position: relative;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@media all and (min-width: $mobile-only) {
			display: table-cell;
			text-align: left;
		}

		@media all and (min-width: $container-tablet) {
			font-size: 20px;
		}
	}

	tr {
		&:nth-child(even) {
			background-color: white;
			color: $palette-black-primary;
		}

		&:nth-child(odd) {
			background-color: $palette-secondary-dark;
			color: white;
		}

		&:first-child td {
			border-top-left-radius: $global-radius;
			border-top-right-radius: $global-radius;
		}

		&:last-child td {
			border-bottom-left-radius: $global-radius;
			border-bottom-right-radius: $global-radius;
		}
	}
}

.zd-table--wrapper {
	position: relative;
	box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.2);

	.zd-contacts {
		margin-top: 0px;
	}
}

.zd-table--copy {
	background-color: $palette-tertiary;
	color: white;
	display: block;
	cursor: pointer;
	border-radius: $global-radius;
	padding: 3px 8px;
	font-size: 16px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	margin-top: 10px;

	@media all and (min-width: $mobile-only) {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		margin-top: 0px;
	}
}
