{{!< default}} <div class="zd-header--grey">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Data Segments.</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-sm-9">
				<h2 class="zd-introtext--h2">Browse or search Ziff Davis' first party data segments.</h2>
				<ol class="zd-introtext--ol">
					<li>Search by keyword or browse by category below</li>
					<li>Once you find a segment, copy the segment name</li>
					<li>Email that to your Ziff Davis rep</li>
				</ol>
				<p class="zd-introtext--p">Our DMP, The CORE, has the ability to curate custom segments and optimise in-market
					users in real time by profiling user behaviours across our brands. More information on how this works can be found
					<a href="http://www.ziffdavistech.com/technology-and-data/" target="_blank">here</a>.</p>
			</div>
			<div class="col-md-7">
				<form class="zd-form" data-widget="search-input">
					<label>
						<span class="zd-form--header">Find a targeting segment.</span>
						<span class="zd-form--input">
							<svg class="zd-form--search-icon" width="296px" height="296px" viewBox="0 0 296 296" version="1.1" xmlns="http://www.w3.org/2000/svg"
							 xmlns:xlink="http://www.w3.org/1999/xlink">
								<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Group" transform="translate(163.484375, 163.000000) rotate(-45.000000) translate(-163.484375, -163.000000) translate(37.984375, -15.000000)"
									 fill="#D8D8D8">
										<path d="M125.5,251 C56.1882639,251 0,194.811736 0,125.5 C0,56.1882639 56.1882639,0 125.5,0 C194.811736,0 251,56.1882639 251,125.5 C251,194.811736 194.811736,251 125.5,251 Z M125.5,207 C170.235065,207 206.5,170.735065 206.5,126 C206.5,81.2649353 170.235065,45 125.5,45 C80.7649353,45 44.5,81.2649353 44.5,126 C44.5,170.735065 80.7649353,207 125.5,207 Z"
										 id="Combined-Shape"></path>
										<path d="M147.75,210.007812 L147.75,334 L147.25,334 C147.25,346.150264 137.400264,356 125.25,356 C113.099736,356 103.25,346.150264 103.25,334 L103.25,210.007812 L147.75,210.007812 Z"
										 id="Combined-Shape"></path>
									</g>
								</g>
							</svg>

							<svg id="zd-form-cross-js" class="zd-form--cross-icon" width="408px" height="408px" viewBox="0 0 408 408"
							 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="cross" transform="translate(-0.500000, 0.000000)">
										<circle id="Oval-3" fill="#D8D8D8" cx="204.5" cy="204" r="204"></circle>
										<path d="M316.470703,182.248047 L316.470703,181.748047 L226.726562,181.748047 L226.726562,146.996094 L226.722656,92.0039062 C226.722656,79.8536418 216.872921,70.0039062 204.722656,70.0039062 C192.572392,70.0039062 182.722656,79.8536418 182.722656,92.0039062 L182.222656,92.0039062 L182.222656,181.748047 L147.470703,181.748047 L92.4785156,181.751953 C80.3282511,181.751953 70.4785156,191.601689 70.4785156,203.751953 C70.4785156,215.902218 80.3282511,225.751953 92.4785156,225.751953 L92.4785156,226.251953 L182.222656,226.251953 L182.222656,261.003906 L182.226562,315.996094 C182.226563,328.146358 192.076298,337.996094 204.226562,337.996094 C216.376827,337.996094 226.226562,328.146358 226.226562,315.996094 L226.726562,315.996094 L226.726562,226.251953 L261.478516,226.251953 L316.470703,226.248047 C328.620968,226.248047 338.470703,216.398311 338.470703,204.248047 C338.470703,192.097782 328.620968,182.248047 316.470703,182.248047 Z"
										 id="Combined-Shape" fill="#FFFFFF" transform="translate(204.474609, 204.000000) rotate(-315.000000) translate(-204.474609, -204.000000) "></path>
									</g>
								</g>
							</svg>

							<input type="text" placeholder="Search term" id="segment-search" />

							<ul id="zd-form-autocomplete-js" class="zd-form__autocomplete">
							</ul>

						</span>
					</label>
				</form>
			</div>
		</div>
	</div>

	<span class="zd-header--down-icon"><img src="../images/down-icon.png" alt="" /></span>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zd-panel__wrapper">
					<h3 class="zd-panel--header">Browse by Category.</h3>
					<div class="zd-panel--container">
						{{#each data.categories}}
						<div class="zd-panel" style="background-image: url(http:{{#with CategoryImage}}{{ url }}{{/with}});">
							<a href="{{ key }}" class="zd-panel--anchor">{{ CategoryName }}</a>
						</div>
						{{/each}}
						{{> contacts data=data.contacts}}
					</div>
					{{> contacts data=data.contacts}}
				</div>
			</div>
		</div>
	</div>