{{!< default}}
<section class="zd-header--grey">
	<div class="zd-breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="zd-breadcrumb--list">
						<li class="zd-breadcrumb--item"><a href="/">Home</a></li>
						<li class="zd-breadcrumb--item">&rsaquo;</li>
						<li class="zd-breadcrumb--item"><a href="/{{ data.category.key }}">{{ data.category.CategoryName }}</a></li>
						<li class="zd-breadcrumb--item">&rsaquo;</li>
						<li class="zd-breadcrumb--item"><a href="/{{ data.category.key }}/{{ data.subcategory.key }}">{{ data.subcategory.SubCategoryName }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="zd-category-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="zd-category-header--wrapper">
						<!-- <span class="zd-category-header--secondary">
							<p>Category</p>
							<h4>{{ data.category.CategoryName }}</h4>
						</span> -->
						<span class="zd-category-header--primary">
							<p>Sub-Category</p>
							<h2>{{ data.subcategory.SubCategoryName }}</h2>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="zd-utility--move-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zd-panel__wrapper">
					<h3 class="zd-panel--header segment">Available First Party Segments...</h3>

					<div class="zd-tooltip">
						<div class="zd-tooltip__text">
							<div class="zd-tooltip__text--header">
								<p>Segment label</p>
								<a href="#_" class="zd-tooltip__copy">Copy to clipboard</a>
							</div>
							<span>
								<a class="zd-tooltip__text--segment" href="#_"></a>
							</span>
						</div>
					</div>

					<div class="zd-table--wrapper">

						<table class="zd-table">
							<tbody>
								<tr>
									<td data-widget="copy-segment" data-label="{{ data.segments.SegmentName }}">{{ data.segments.SegmentName }} <span class="zd-table--copy">Copy to clipboard</span></td>
								</tr>
							</tbody>
						</table>


					{{> contacts data=data.contacts}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zd-search-again single">
					<p>Can’t find the segment you’re looking for? Either search again or contact the team to build a custom solution.</p>
					<a href="/" class="zd-btn">Search again</a>
				</div>
			</div>
		</div>
	</div>
</section>
