{{!< default}}
<section class="zd-header--grey">
	<div class="zd-breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="zd-breadcrumb--list">
						<li class="zd-breadcrumb--item"><a href="/">Home</a></li>
						<li class="zd-breadcrumb--item">&rsaquo;</li>
						<li class="zd-breadcrumb--item"><a href="/{{ data.category.key }}">{{ data.category.CategoryName }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="zd-category-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="zd-category-header--wrapper">
						<span class="zd-category-header--primary">
							<p>Category</p>
							<h2>{{ data.category.CategoryName }}</h2>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="zd-utility--move-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zd-panel__wrapper">
					<h3 class="zd-panel--header">Browse by Sub-Category.</h3>
					<div class="zd-panel--container">
						{{#each data.category.SubCategories }}
							<div class="zd-panel" style="background-image: url(http:{{#with SubCategoryImage}}{{ url }}{{/with}});">
								<a href="/{{ ../data.category.key }}/{{ key }}" class="zd-panel--anchor">{{ SubCategoryName }}</a>
							</div>
						{{/each}}

						{{> contacts data=data.contacts}}
					</div>
					{{> contacts data=data.contacts}}
				</div>
			</div>
		</div>
	</div>
</section>
