<div class="zd-contacts">
	<span class="zd-contacts--info-icon">i</span>
	<p class="zd-contacts--title">Contact Us</p>
	<p class="zd-contacts--subtitle">For more information please contact any one of our programmatic team below.</p>

	<div class="zd-contacts__wrapper">
		{{#each data }}
			<div class="zd-contacts__item">
				<h4 class="zd-contacts__item--name">{{ Name }}</h4>
				<p class="zd-contacts__item--title">{{ Position }}</p>
				<p class="zd-contacts__item--number">{{ ContactNumber }}</p>
				<p class="zd-contacts__item--email"><a href="mailTo:{{ Email }}">{{ Email }}</a></p>
			</div>
		{{/each}}
	</div>
</div>
