//colors
//== Colors
// Internal variables

$x-color-darkgreen: #0c8767;
$x-color-green: #06d6a0;
$x-color-darkblue: #073b4c;
$x-color-blue: #118ab2;
$x-color-yellow: #ffc439;

$x-color-black: #151515;

$x-color-grey: #f6f6f6;
$x-color-darkgrey: #CFCFCF;

$zd-red: #BD0027;

// Global variables
$palette-primary: $x-color-green;
$palette-primary-dark: $x-color-darkgreen;
$palette-secondary: $x-color-blue;
$palette-secondary-dark: $x-color-darkblue;
$palette-tertiary: $x-color-yellow;

//black
$palette-black-primary: $x-color-black;

//greys
$palette-grey-primary: $x-color-grey;
$palette-grey-secondary: $x-color-darkgrey;


//font declarations
$x-fontfamily-sans-serif: "adelle-sans",sans-serif;

//global font variables
$font-sans-serif: $x-fontfamily-sans-serif;


//easing functions
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);


$global-radius: 3px;

$font-size-base:          16px;
$font-size-large:         18px;
$font-size-small:         12px;

$font-size-h1:            36px;
$font-size-h2:            30px;
$font-size-h3:            24px;
$font-size-h4:            $font-size-large;
$font-size-h5:            $font-size-base;
$font-size-h6:            $font-size-small;

$container-lrg-desktop:        1200px;
$container-desktop:            992px;
$container-tablet:             768px;
$mobile-alt:                   650px;
$mobile-only:                  580px;
