.zd-articles {
	h3 {
		text-align: center;
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 40px;
		margin-top: 60px;
		border-bottom: 1px solid #e1e1e1;
		margin-left: -15px;
		width: calc(100% + 30px);
		padding-bottom: 20px;

		@media all and (min-width: $mobile-only) {
			margin: auto;
			text-align: left;
			border-bottom: none;
			margin-top: 60px;
		}

		@media all and (min-width: $container-tablet) {
			padding-bottom: 40px;
			margin-top: 0px;
		}
	}
}

.zd-article__unit {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;

	> div {
		@media all and (min-width: $mobile-only) {
			padding-right: 20px;
		}
	}

	@media all and (min-width: $mobile-only) {
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 20px;
	}
}

.zd-articles__unit--name {
	font-size: 20px;
	color: $palette-black-primary;
	text-align: center;

	@media all and (min-width: $mobile-only) {
		font-size: 22px;
		text-align: left;
	}

	a {
		font-weight: normal;
		color: inherit;
	}
}

.zd-articles__unit--website {
	font-size: 13px;
	color: $palette-grey-secondary;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
    text-transform: uppercase;

	@media all and (min-width: $mobile-only) {
		text-align: left;
	}

	a {
		color: inherit;
	}
}
