.zd-btn {
    padding: 15px 60px 15px 25px;
	border-radius: 50px;
	border: 2px solid $palette-grey-secondary;
	color: $palette-black-primary;
	font-size: 18px;
	position: relative;
	min-width: 160px;

	&::after {
		content: "";
		background-image: url(../images/svg/arrow-icon.png);
		height: 14px;
		width: 20px;
		display: inline-block;
		background-size: cover;
		position: absolute;
		right: 24px;
    	top: 21px;
		transition: transform 0.3s $easeInOutQuart;
	}

	&:hover {
		text-decoration: none;
		color: $palette-black-primary;

		&::after {
			transform: translate3d(6px, 0, 0);
		}
	}
}
