.zd-category-header--wrapper {
	margin-bottom: 50px;

	@media all and (min-width: $mobile-alt) {
		margin-bottom: 30px;
	}
}

.zd-category-header {
	padding-bottom: 220px;

	&--secondary {
		p {
			font-size: 18px;
			font-style: italic;
			font-weight: 300;
		}

		h4 {
			font-weight: 400;
			font-size: 24px;
			margin-bottom: 40px;

			@media all and (min-width: $container-tablet) {
				font-size: 28px;
			}
		}
	}

	&--primary {
		p {
			font-size: 18px;
			font-style: italic;
			font-weight: 300;
		}

		h2 {
			font-weight: 400;
			font-size: 36px;
			margin-top: 10px;

			@media all and (min-width: $container-tablet) {
				font-size: 40px;
			}
		}
	}
}
