.zd-contacts {
	width: calc(100% + 40px);
	margin-left: -20px;
	padding: 20px 10px 20px;
	border-radius: $global-radius;
	background-color: $palette-secondary;
	position: relative;
	margin-top: 80px;
	z-index: 99;
	top: 0px;
	display: block;

	@media all and (min-width: $mobile-alt) {
		width: calc(100% - 40px);
		margin: 80px auto 0;
	}

	@media all and (min-width: $container-desktop) {
		width: 200px;
		position: absolute;
		right: -220px;
		margin-top: 20px;
		top: 0px;
		display: none;
	}

	h4, p {
		color: white;
		text-align: center;
	}
}

.zd-contacts--info-icon {
	font-style: italic;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: -15px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	background-color: $palette-secondary;
	color: white;
	font-weight: bold;
	text-align: center;
	transform: translateX(-50%);
	line-height: 30px;
}

.zd-contacts--title {
	font-size: $font-size-base;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 10px;
}

.zd-contacts--subtitle {
	font-size: $font-size-small;
	font-weight: 400;
	padding: 0 20px;

	@media all and (min-width: $container-desktop) {
		padding: 0;
	}
}

.zd-contacts__item {
	margin-top: 20px;

	&--title {
		font-size: 10px;
	    text-transform: uppercase;
	    letter-spacing: 1px;
		font-weight: 600;
	}

	&--name {
		margin-top: 0px;
	}

	&--number {
		font-size: 15px;
    	letter-spacing: 1px;
	}

	&--email {
		font-size: 9px;
		letter-spacing: 1px;

		a {
			font-weight: normal;
			&:hover {
				opacity: 0.6;
				color: white;
			}
		}
	}
}

.zd-contacts__wrapper {
	display: flex;
	flex-direction: column;

	@media all and (min-width: $mobile-only) {
		flex-direction: row;
		justify-content: space-between;

		.zd-contacts__item {
			width: 30%;
		}
	}

	@media all and (min-width: $container-desktop) {
		flex-direction: column;

		.zd-contacts__item {
			width: 100%;
		}
	}
}


.zd-panel--container {
	.zd-contacts {
		display: none;

		@media all and (min-width: $container-desktop) {
			display: block;
		}
	}
}

.zd-table--wrapper {
	.zd-contacts {
		display: block;
		top: 90px;

		@media all and (min-width: $container-desktop) {
			display: block;
			top: 0px;
		}
	}
}
