.zd-create-callout {
	&--p {
		font-weight: 600;
		font-size: 16px;
	}
	&--ul {
		list-style: none;
		padding: 0px;
		float: left;

		li {
			font-weight: 600;
			font-size: 16px;
			margin-bottom: 10px;
		}
	}

	&--img {
		width: 100%;
		display: block;
		max-width: 360px;
		margin: 0px auto 15px;
	}

	&--btn-group {
		a:first-child {
			margin-bottom: 15px;
		}
	}

	.zd-btn {
		float: right;
		margin-top: 10px;

		@media all and (min-width: $container-desktop) {
			margin-right: 40px;
		}
	}
}
