.zd-logo-placeholder {
	width: 100%;
	background-color: rgba(7, 59, 76, 0.2);
	border-radius: $global-radius;
	text-transform: uppercase;
	padding: 20px;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}
