.accessibility-modal {
	background-color: white;
	border-radius: 25px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	box-shadow: 5px 5px 20px #000;
	z-index: -1;
	opacity: 0;
	transition: all 0.3s ease;
	max-width: 400px;
	width: 80%;

	&.active {
		z-index: 9999;
		opacity: 1;
	}

	.close {
		transform: rotate(45deg);
		position: absolute;
		right: 20px;
		top: 0;
		font-weight: 400;
		font-size: 40px;
		text-decoration: none;
		color: black;
		right: 13px;
		top: 5px;

		&:hover {
			text-decoration: none;
		}
	}
}

.accessibility-modal--content {
	padding: 20px;
}

.accessibility-modal--bg {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
	width: 100%;
	transition: all 0.3s ease;
	opacity: 0;
	z-index: -1;

	&.active {
		z-index: 9998;
		opacity: 1;
	}
}
