.zd-panel__wrapper {
	width: 100%;
	margin: 80px auto 0px;
	position: relative;

	@media all and (min-width: $mobile-alt) {
		margin: 120px auto 60px;
	}

	@media all and (min-width: 720px) {
		width: 720px;
	}

	@media all and (min-width: $container-desktop) {
		margin: 120px auto 100px;
	}
}

.zd-panel {
	width: 100%;
	margin: 20px;
	background-color: $palette-secondary-dark;
	position: relative;
	cursor: pointer;
	border-radius: $global-radius;
	box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.2);
	background-size: cover;
	background-position: center center;
	z-index: 2;


	@media all and (min-width: 400px) {
		margin: 10px;
		width: calc(50% - 20px);
	}

	@media all and (min-width: 720px) {
		margin: 20px;
		height: 200px;
		width: 200px;
	}

	&:after {
	  content: "";
	  display: block;
	  padding-bottom: 100%;
	}

	a {
		position: absolute;
		font-size: $font-size-large;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		text-align: right;
		align-items: flex-end;
		justify-content: flex-end;
		padding: 20px;
		color: white;
		cursor: pointer;

		&:hover {
			text-decoration: none;
		}
	}
}

.zd-panel--header {
	width: 100%;
	margin-top: 80px;
	margin-bottom: 20px;
	text-align: center;
	font-size: $font-size-h3;
	font-weight: 300;
	display: block;

	@media all and (min-width: $mobile-alt) {
		font-size: 28px;//$font-size-h1;
	}

	&.segment {
		margin-bottom: 40px;
		line-height: 30px;

		@media all and (min-width: $mobile-alt) {
			padding: 0 60px;
			font-size: 32px;
			line-height: 40px;
		}

	}
}

.zd-panel--container {
	margin-top: 0px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
    justify-content: center;

	@media all and (min-width: $mobile-alt) {
		margin-top: 30px;
	}

	&::before {
		content: "";
		position: absolute;
		z-index: 1;
		height: 85%;
		width: calc(100% + 30px);
		margin-left: 0px;
		transform: translate3d(-50%, -50%, 0);
		left: 50%;
		top: 50%;
		background-color: $palette-primary;

		@media all and (min-width: $mobile-alt) {
			height: 70%;
			width: 70%;
			margin-left: auto;
			border-radius: $global-radius;
		}
	}
}
