.zd-search-again {
	margin-top: 150px;
	max-width: 450px;
	display: block;
	margin: auto;
	padding-top: 150px;

	@media all and (min-width: $mobile-alt) {
		margin-top: 100px;
		padding-top: 0px;
	}

	@media all and (min-width: $container-desktop) {
		margin-top: 0px;

		&.single {
			margin-bottom: 80px;
		}
	}

    p {
        text-align: center;
		margin: 0px auto 40px;
		font-size: 20px;
    }

	a {
		display: table;
		margin: 0px auto 60px;

		@media all and (min-width: $container-desktop) {
			margin-bottom: 100px;
		}
	}
}
