.zd-tooltip {
	background-color: $palette-primary;
	border-radius: $global-radius;
	position: absolute;
	padding: 20px;
	z-index: 999;
	transition: opacity 0.3s $easeInOutQuart;
	opacity: 0;
	top: -98px;
	z-index: -2;
	right: 20px;
	max-width: 88%;

	&::after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
	    border-width: 41px 30px 0 30px;
	    border-color: #06d6a0 transparent transparent transparent;
	    position: absolute;
	    bottom: -18px;
	    transform: rotate(-36deg);
	    right: 2px;
	    z-index: -1;
	}
}

.zd-tooltip__text {
	> span {
		color: white;
		overflow: hidden;
		display: block;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.zd-tooltip__text--header {
    display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

	p {
		color: white;
		font-size: 16px;
		font-weight: bold;
	}

	a {
		color: $palette-primary;
		background-color: white;
		border-radius: $global-radius;
		padding: 3px 8px;
		margin-top: -10px;
		font-size: 16px;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.1);

		&:hover {
			text-decoration: none;
			color: $palette-primary;
		}
	}
}

.zd-tooltip__text--segment {
	color: white;
	font-weight: 300;
	font-size: 16px;

	@media all and (min-width: $container-tablet) {
		font-size: 20px;
	}

	&:hover {
		color: white;
		text-decoration: none;
	}
}
