body {
    font-family: $font-sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

h1 {
    font-size: 50px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 20px;
    letter-spacing: 1px;

    @media all and (min-width: $container-tablet) {
        font-size: 55px;
    }
}

p > a {
    color: inherit;
    font-weight: bold;

    &:hover {
        color: $palette-primary-dark;
    }
}
