.zd-utility {

	&--move-top {
		margin-top: -300px;

		@media all and (min-width: $screen-md) {
			min-height: 900px;
		}
	}

	&--clearfix {
		&::after {
		    content: "";
		    clear: both;
		    display: table;
		}
	}
}
